@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Satisfy&display=swap');

$fontBebas: 'Bebas Neue', cursive;

$fontSatisfy: 'Satisfy', cursive;

$maincolor: rgb(231, 231, 181);

$secondarycolor: chocolate;

$inputcolor1: rgb(156, 79, 24);

$inputcolor2: rgb(112, 55, 14);

$footercolor1: rgb(191, 189, 189);